<div class="modal-window" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="modal-title">{{data.mode}} Card</div>
      <div class="modal-close" (click)="closeModal()">&times;</div>
    </div>
    <div class="modal-content">
      <div class="createUser" [formGroup]="form">
  
      @if (!barcode()) {
        <span class="scanCard">Scan ordinance card</span>
      } @else {
        <table>
          <tr>
            <td><label>Barcode</label></td>
            <td><input formControlName="BarCode" type="text" id="barcode" />  
            </td>
          </tr>
          <tr>
            <td><label>Language</label></td>
            <td style="position: relative;">
              <input #language formControlName="Language" type="text" id="language" />
              @if (usedLanguages().length > 0) {
                <select class="language" #dropdown (change)="onSelectLanguage(dropdown.value)">
                  <option></option>
                  @for (item of usedLanguages(); track item) {
                    <option>{{item}}</option>
                  }
                </select>
              }
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              @if(data.mode === 'Create') {
                <button class="createBtn" (click)="createCard()" [disabled]="!form.valid">Create</button>
              } @else if(data.mode === 'Edit') {
                <button class="createBtn" (click)="updateCard()" [disabled]="!form.valid">Update</button>
              }
            </td>
          </tr>
        </table>
      }
      </div>
    </div>
  </div>