<div class="modal-window" (click)="$event.stopPropagation()" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container">
  <div class="modal-header" cdkDragHandle>
    <div class="modal-title">{{data.mode}} User
      <button (click)="inject()">Inject</button>
      <button (click)="inject2()">Inject2</button>
    </div>
    <div class="modal-close" (click)="closeModal()">&times;</div>
  </div>
  <div class="modal-content">
    <div class="createUser">

    @if (!barcode()) {
      <span class="scanCard">Scan your recommend</span>
    } @else {
      <table>
        <tr>
          <td><label>Barcode</label></td>
          <td><input type="text" id="barcode" value="{{barcode()}}" disabled />  
          </td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text" id="name" autocomplete="off"/></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="createBtn" (click)="createUser()">Create</button>
          </td>
        </tr>
      </table>
   }
    </div>
  </div>
</div>