<div class="modal-window" (click)="$event.stopPropagation()">
  <div class="modal-header">
    <div class="modal-title">{{data.mode}} User
      <button (click)="inject()">Inject</button>
      <button (click)="inject2()">Inject2</button>
    </div>
    <div class="modal-close" (click)="closeModal()">&times;</div>
  </div>
  <div class="modal-content">
    <div class="createUser" [formGroup]="form">

    @if (!barcode()) {
      <span class="scanCard">Scan your recommend</span>
    } @else {
      <table>
        <tr>
          <td><label>Barcode</label></td>
          <td><input formControlName="BarCode" type="text" id="barcode" />  
          </td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input formControlName="Name" type="text" id="name" autocomplete="off" /></td>
        </tr>
        @if (isAdmin() === 1) {
        <tr>
          <td><label>Admin</label></td>
          <td>
            <select id="admin" formControlName="Admin">
              <option [ngValue]="0">No</option>
              <option [ngValue]="1">Yes</option>
            </select>
          </td>
        </tr>
        }
        <tr>
          <td></td>
          <td>
            @if(data.mode === 'Create') {
              <button class="createBtn" (click)="createUser()" [disabled]="!form.valid">Create</button>
            } @else if(data.mode === 'Edit') {
              <button class="createBtn" (click)="updateUser()" [disabled]="!form.valid">Update</button>
            }
          </td>
        </tr>
      </table>
    }
    </div>
  </div>
</div>