<div class="modal-window" (click)="$event.stopPropagation()">
  <div class="modal-header">
    <div class="modal-title">{{data.mode}} User
      <button (click)="inject()">Inject</button>
      <button (click)="inject2()">Inject2</button>
    </div>
    <div class="modal-close" (click)="closeModal()">&times;</div>
  </div>
  <div class="modal-content">
    <div class="createUser" [formGroup]="form">

    @if (!barcode()) {
      <span class="scanCard">Scan your recommend</span>
    } @else {
      <table>
        <tr>
          <td><label>Barcode</label></td>
          <td><input formControlName="barcode" type="text" id="barcode" />  
          </td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input formControlName="name" type="text" id="name" autocomplete="off" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="createBtn" (click)="createUser()" [disabled]="!form.valid">Create</button>
          </td>
        </tr>
      </table>
   }
    </div>
  </div>
</div>