<div class="header">Test</div>
<div class="content">
    <div class="left">
      <button routerLink="/" routerLinkActive="active">Home</button>
      <button routerLink="/admin" routerLinkActive="active">Admin Panel</button>
      <button (click)="quit()">Quit</button>
    </div>
    <div class="right">
        <router-outlet />
    </div>
</div>
<div class="footer">
  <div class="totalCards">Total cards: 0</div>
  <div class="checkedOut">Cards checked out: 0 </div>
  <button (click)="injectBarcode()">inject</button>
  <div class="version">v1.0</div>
</div>