<div class="header">Ordinance Card Checkout</div>
<div class="content">
    <div class="left">
      <button routerLink="/" routerLinkActive="active">Home</button>
      <button routerLink="/admin" routerLinkActive="active">Admin Panel</button>
      <button (click)="quit()">Quit</button>
    </div>
    <div class="right">
        <router-outlet />
    </div>
</div>
<div class="footer">
  <div class="totalCards">Total cards: {{state.totalCards()}}</div>
  <div class="checkedOut">Cards checked out: {{state.totalCardsCheckedOut()}} </div>
  <button (click)="injectBarcode()">inject</button>
  <button (click)="injectBarcode2()">inject2</button>
  <div class="version">Version 1.0 - Made by Danny Ng</div>
</div>