<div class="content">
    <div class="top">
        <div class="title">To check out, please scan your recommend and an ordinance card.</div>
        <div class="scanContainer">
            <div class="scanBox">
                <div class="scanTitle">
                    <span class="scanType">User</span>
                    @if (scannedUser()) {<span class="remove" (click)="resetScannedUser()">×</span>}
                </div>
                @if (scannedUser()) {
                <div class="scannedItem">
                    {{scannedUser()?.Name}}
                </div>
                }
            </div>
            <div class="scanBox">
                <div class="scanTitle">
                    <span class="scanType">Card</span>
                    @if (scannedCard()) {<span class="remove" (click)="resetScannedCard()">×</span>}
                </div>
                @if (scannedCard()) {
                    <div class="scannedItem">
                        {{scannedCard()?.BarCode}}<br>
                        {{scannedCard()?.Language}}
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="title">To check in, please scan the ordinance card only.</div>

    </div>
</div>